// Main Nav
// ------------------------------------------------------------------------------

//	<div class="main-nav">
//		<ul class="main-nav__list">
//			<li class="main-nav__item">
//				<a class="main-nav__link main-nav__link--active"></a>
//				<a class="main-nav__link"></a>
//			</li>
//		</ul>
//	</div>11
//

/* Mobile main nav styles */
.main-nav {
	position: relative;
	margin: 0 rem(20) rem(30);
	padding: rem(10);
	background: $component-background;

	&__title {
		margin: 0;
		text-transform: uppercase;
	}

	&__list {
		display: none;
		padding-left: 0;
		list-style: none;
	}

	&__item {
		padding: 0 0 rem(5);
	}

	&__link{
		&--active {}
	}

	// adapted from: https://gist.github.com/elijahmanor/9331915#file-jquery-js
	&__mobile-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer; 
		padding: 9px 22px 16px 0px;

		span {
			&, &:before, &:after {
				border-radius: 2px;
				height: 2px;
				width: 22px;
				background: $black;
				position: absolute;
				display: block;
				content: '';
				transition: all 300ms ease-in-out;
			}

			& { transition: all 250ms ease-in-out; }

			&:before {
				top: -6px;
			}

			&:after {
				bottom: -6px;
			}
		}

		&.active span {
			background-color: transparent;
			width: 0;

			&:before, &:after {
				top: 0;
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

@include breakpoint($medium){
	.main-nav {
		margin: 0 $tablet-space 0 0;
		flex: 1 0 25%;
		padding: $tablet-space;

		&__mobile-btn {
			display: none;
		}

		&__list {
			display: block;
		}

		&__js-wrapper.sticky-fixed {
			position: fixed;
			top: 0;
			padding: $tablet-space;
			background: $component-background;
		}
	}
}

@include breakpoint($large){
	.main-nav {
		margin: 0 $desktop-space 0 0;
		padding: $desktop-space;

		&__js-wrapper.sticky-fixed {
			padding: $desktop-space;
		}
	}
}