/*------------------------------------------
COLORS
-------------------------------------------*/

$gallery: #efefef;
$silver: #ccc;
$silver-lt: #dadada;
$white: #fff;
$black: #000;


/*------------------------------------------
COLOR VARIABLES
-------------------------------------------*/

/* Components */
$component-background: $gallery;

/* Accordion */
$tab-background: $silver;