// Scaffolding styles are declared here. e.g containers, grid
// ------------------------------------------------------------------------------


*, *:before, *:after {@include prefixer(box-sizing, border-box, webkit moz spec); }

html {
	font-family: "mobile";

	@include breakpoint($medium) {
	 	font-family: "tablet";
  }

	@include breakpoint($large) {
		font-family: "desktop";
	}
}

@include breakpoint($medium) {
 	.container {
 		display: flex;
 		justify-content: center;
 		align-items: flex-start;
 		max-width: 1224px;
 		margin: 0 auto $tablet-space;
 		padding: 0 $tablet-space;
 	}
}

@include breakpoint($large) {
 	.container {
 		margin: 0 auto $desktop-space;
 		padding: 0 $desktop-space;
 	}
}